.red{
    color: var(--red-color);
}

.redTeam{
    background-color: var(--bg-red);
    padding: 5rem;
    border-radius: 2rem;

}

.reset:hover{
    color:var(--red-color);
    cursor: pointer;
}