*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /*colors*/


  /*fonts*/

  /*accessibility*/
  font-size: 62.5%;
}


.App{
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

h1{
  text-align: center;
  margin: 5rem ;
  font-size: 5rem;
}

h2{
  font-size: 3.5rem;
  text-align: center;
}

h3{
  margin: 2rem 0 .8rem;
  color: gray;
  text-align: center;
  
}

button{
  padding: 1rem;
  width: 5rem;
  margin-right: 1rem;
  border-radius: 1rem;
  border-style: none;
}

button:hover{
  background-color: gray;
  color: white;
}