.blue{
    color: var(--blue-color);
}

.blueTeam{
    background-color: var(--bg-blue);
    padding: 5rem;
    border-radius: 2rem;

}

.reset:hover{
    color:var(--blue-color);
    cursor: pointer;
}